{% extends 'base.html.twig' %}

{% block body %}
    <div id="logo_pokemon"><img src="{{ asset('img/pokemon/pokemon_logo.svg.png') }}" alt="logo de pokemon"></div>
    <div id="lien_home"><h1><a href="{{ path('pokemon_pokedex') }}">Attrapez les tous !</a></h1>
    </div>{% endblock %}